body {
	font-weight: 400;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
}

a {
	color: #000;
	text-decoration: none;
	border-bottom: solid 1px;
}

h1 {
	font-size: 56px;
	margin: 20px;
}

h2 {
	font-size: 28px;
	font-weight: 400;
	margin: 20px;
}

.content {
	position: absolute;
    top: 50%;
    left: 50%;
    max-width: 50%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: 0 50%;
    z-index: 10;
    text-align: center;
}

.avatar {
	background-image: url('/img/avatar.png');
	background-size: 80px;
	background-repeat: no-repeat;
	margin: auto;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: solid 3px #000;
}

.middot {
	width: 8px;
    height: 8px;
    display: inline-block;
    background-color: black;
    padding: 0;
    margin-bottom: 4px;
}